.storybook-button {
  width: 300px;
  height: 60px;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 3em;
  cursor: pointer;
  line-height: 1;
  border: 1px solid rgba(16,16,24,.12);
  color: #333;
  background-color: transparent;
  font-size: 1.375rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 25px;
}

