.entry {
  p {
    color: rgba(16,16,24,.6);
    text-align: right;
    font-weight: 400;
    font-size: .875rem;
  };

  a {
    transition: .2s;
  }

  a:hover {
    color: #ffc864;
  }

  &__container {
    width: 100%;
    padding: 25px 30px;
    border: 1px solid rgba(16,16,24,.12);
    border-radius: 20px;
    transition: .2s;

    &:hover {
      border-color: black;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    color: #191414;
    margin-bottom: 20px;
  }

  &__cols {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__or {
    color: rgba(16,16,24,.38);
  }
}
