.site {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(16,16,24,.6);
}

[hidden] {
  display: none;
}

.container {
  padding-top: 10%;
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 1.125rem;
}

a:visited {
  color: rgba(16,16,24,.6);
}

input {
  margin: 0 auto;
  font-size: 5rem;
  border: none;
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
}

.filters {
  display: flex;
  gap: 40px;
}

.search-total {
  font-size: 1.625rem;
  text-align: center;
  justify-content: center;
  font-weight: 300;
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 50%;
}
