.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

main {
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(16,16,24,.6);

  &.header__scrolled {
    background-color: hsla(0,0%,100%,.8);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    -webkit-box-shadow: 0 3px 5px rgb(25 20 20 / 3%);
    box-shadow: 0 3px 5px rgb(25 20 20 / 3%);
  }
}

[hidden] {
  display: none;
}

.container {
  padding-top: 10%;
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 1.125rem;
}

a:visited {
  color: rgba(16,16,24,.6);
}

input {
  margin: 0 auto;
  font-size: 5rem;
  border: none;
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
}

.filters {
  display: flex;
  gap: 40px;
}

.search-total {
  font-size: 1.625rem;
  text-align: center;
  justify-content: center;
  font-weight: 300;
}

.search-results {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 50%;
}

footer {
  width: 100%;
  min-height: 1156px;
  height: 100%;
  background-color: black;
  position: fixed;
  z-index: -1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0 60px;
  box-sizing: border-box;
}

.footer__pushler {
  width: 100%;
  min-height: 1156px;
  height: 100%;
}

footer h2 {
  font-size: 3.625rem;
  font-weight: 400;
  margin-bottom: 20px;
}

footer p {
  font-size: 1.625rem;
  font-weight: 300;
  max-width: 640px;
  text-align: center;
  margin: 0;
}
