.site {
  height: 100vh;
  background-color: #ff4632;
  background-image: url("/public/background.jpeg");
  background-position: center;
  background-size: cover;
}

header {
  padding: 0 30px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.logo {
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
}
